body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/5bee6279260063.5cbe15ae71f4e.gif") no-repeat center center fixed;
    background-size: cover;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form {
    display:inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 70px;
    background-color: #ffffff0c;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
}

h2 {
    margin: 0;
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

p {
    margin: 0;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    border-radius: 10px;
    outline: 2px solid #28282d;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}

input:focus {
    outline-offset: 5px;
    outline: 2px solid #28282d;
    background-color: #fff
}

button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
}

button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #ffffff0a;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    height: 100px;
}

footer p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}